body {
    background:url(pictures/Joulukuusi.jpg);
    background-repeat:no-repeat;
    background-size: 400px;
    background-position: center top;
}

p {
    text-align: center;
    color:white;
}

.nelio {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:450px;
    bottom:100px;
}

.nelio1 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:500px;
    bottom:300px;
}

.nelio2 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:680px;
    bottom:100px;
}
.nelio3 {
    height: 50px;
    width: 50px;
    background-color:red;
    position: fixed;
    left:700px;
    bottom:300px;
}

.nelio4 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:615px;
    bottom:480px;
}

.nelio5 {
    height: 50px;
    width: 50px;
    background-color:red;
    position: fixed;
    left:750px;
    bottom:100px;
}

.nelio6 {
    height: 50px;
    width: 50px;
    background-color:red;
    position: fixed;
    left:520px;
    bottom:100px;
}

.nelio7 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:570px;
    bottom:300px;
}

.nelio8 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:600px;
    bottom:100px;
}

.nelio9 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:520px;
    bottom:200px;
}

.nelio10 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:450px;
    bottom:200px;
}

.nelio11 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:600px;
    bottom:200px;
}

.nelio12 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left: 667px;
    bottom:200px;
}

.nelio13 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:740px;
    bottom:200px;
}

.nelio14 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:630px;
    bottom:300px;
}

.nelio15 {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
    left:760px;
    bottom:300px;
}