body {
    background: url(pictures/Joulukuusi.jpg);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center top;
    height: 100%;    
}

p {
    text-align: center;
    color:white;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 10% 10% 10% 10% 30%;
    padding: 10px;
    padding-top: 54px;
}

.boxRow1 {
    grid-column-start: 2;
    grid-column-end: 6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    height: 50px;
    width: 50px;
    background-color: red;
    margin: 8px;
}