body {
    background:url(pictures/Joulukuusi.jpg);
    background-repeat:no-repeat;
    background-size: 400px;
    background-position: center top;
}

p {
    text-align: center;
    color:white;
}

.nelio {
    height: 50px;
    width: 50px;
    background-color: red;
    position: fixed;
}